alias pbx='ssh root@incrediblepbx'
alias ipbx='ssh root@ipbx'
#alias sabadd='/share/xbmc/scratch/sabnzbd/scripts/sabToSickBeard.py /mnt/Multimedia/temp'
alias temp='cd /mnt/Multimedia_deathstar/temp'
alias sabadd='/share/xbmc/scratch/sabnzbd/scripts/sabToSickBeard.py'
alias sabnew='/share/xbmc/scratch/sabnzbd/scripts/sabToSickBeard.py /mnt/Multimedia_deathstar/temp'

alias patches="sudo apt-get update;sudo apt-get -y upgrade"
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME"

alias lrt="ls -ltr"
alias ta="tmux attach"

alias suvi="sudo vi"
alias yl="yamllint"
alias apb="ansible-playbook"
